certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.1.8
colorama==0.4.6
gTTS==2.5.4
idna==3.18
numpy==2.4.6
packaging==26.2
pillow==12.2.0
playsound==1.2.2
pycparser==3.0
pygame==2.6.1
python-dotenv==1.2.2
requests==2.34.2
sounddevice==0.5.5
urllib3==2.7.0
